.product-list{
    /* border: .5px solid gray; */
    margin-bottom: 10px;
}
button.btn{
    margin:30px;
}
.flex-container {
    display:flex;
    /* border:2px solid red; */
}
.flex-items{
    /* border:2px solid green; */
    flex-direction: row;
    flex:1;
    justify-content: space-between;
}
.img-thumbnail{
    margin-right: 100px;
}